window#waybar {
    border-radius: 5px;
    font-family: "Inter";
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.75);
}

#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#clock,
#tray {
    margin: 0 8px;
}

#battery {
    margin-right: 16px;
}
