window#waybar {
    border-radius: 5px;
    font-family: "Inter Regular";
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.75);
}

#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#keyboard-state,
#battery,
#clock,
#tray {
    padding: 0 8px;
}

